@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(Model.test != default)
{
    <table class="table table w-auto small">
        @for (int i = 0; i < Model.test.GetLength(0); i++)
        {
            <tr>
                @for (int j = 0; j < Model.test.GetLength(1); j++)
                {
                    <td>@string.Format("{0:f1}", Model.test[i, j])</td>
                }
            </tr>
        }
    </table>
}
else
{
    <h1>@Model.Count</h1>
}